@model IEnumerable<School.Application.Features.Students.Dtos.GetList.GetStudentListOutput>
@{
    ViewData["Title"] = "قائمة الطلاب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>بيانات الطالب</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            font-size: 18px;
            font-weight: bold;
        }

        td {
            font-size: 16px;
        }

        .add-student-link {
            display: block;
            text-align: center;
            margin-bottom: 20px;
            font-size: 20px;
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }

        .action-buttons {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .edit-button,
        .delete-button {
            margin: 5px;
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }

        .edit-button {
            background-color: #4CAF50;
        }

        .delete-button {
            background-color: #f44336;
        }
    </style>

</head>
<body>
    <h1><a asp-controller="Student" asp-action="AddStudent" class="add-student-link">إضافة طالب</a></h1>
    <h1>بيانات الطلاب</h1>
    @if (ViewBag.error != null)
    {

        <h1>kkkk   @ViewBag.error</h1>
    }
    @if (ViewBag.Success != null)
    {

        <h1> @ViewBag.Success</h1>
    }
    <table>
        <tr>
            <th>الرقم</th>
            <th>الاسم</th>
            <th>العمر</th>
            <th>الصف</th>
            <th>الإجراءات</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.DepartmentName</td>
                <td class="action-buttons">
                    <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.Id" class="delete-button">حذف</a>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.Id" class="edit-button">تعديل</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>